[%- # Provide a title to the wrapper.tt2 -%]
[% META title = 'PAGe Artemis' -%]

<h2>Data</h2>
  
<h3>Genome Viewer</h3>


<p>
Artemis is a free genome browser and annotation tool that allows visualisation of sequence features, next generation data and the results of analyses within the context of the sequence, and also its six-frame translation.
Artemis is written in Java, and is available for UNIX, Macintosh and Windows systems. It can read EMBL and GENBANK database entries or sequence in FASTA, indexed FASTA or raw format. Other sequence features can be in EMBL, GENBANK or GFF format.
 For more details on what Artemis can do for you, please refer to the Artemis manual here  <a href="[% c.uri_for('/static/page/assets/artemis.pdf') %]">PDF</a> 
</p>

<p><strong>Launch Artemis directly from your web browser</strong></p>
<p>We have prepared a set of Artemis instances which can be launched directly via your web browser.</p>

<p>Select a genome from the box below and then press "Launch Artemis" to start Artemis.</p>


<div id="myDiv">

	<!-- appending "/artemis.JNLP" to the URL in order to control the default filename when downloading a file via CGI -->
	<form action="[% c.uri_for('/data/artemisjnlp') %]" method="post" name="artForm" id="artForm">
	
		<table id="myTable" border="0" cellpadding="0" cellspacing="0" class="display">
			<thead>
				<tr> 
					 
				    <th align="center">Strain_id</th> 
				     <th align="center">Country</th>
				    <th align="center">Source</th>
				    <th align="center"> Sanger_id</th>
				    <th style="text-align:center">Select</th> 
			
				</tr> 
			</thead>
			<tbody>
			
			[% FOREACH genome IN c.stash.genome_list_inc %]
			
				[% IF genome.analysis_status == 'inc' %] 
			        <tr title="
			        		   Analysis status:	   [% genome.analysis_status %] <br>
			        		   Sanger ID: 		   [% genome.sanger_id %] <br>
			        		   Strain ID: 		   [% genome.strain_id %] <br>
			        		   
			        		   Analysis comment:   [% genome.analysis_comment %] <br>
			        		   Top_serotype:       [% genome.top_serotype %] <br>
			        		   Mlst:			   [% genome.mlst %] <br>
			        		   Gender:             [% genome.gender %] <br>
			                   Body source:        [% genome.body_source %] <br>
			                   Menigitis isolate?: [% genome.meningitis_outbreak_isolate %] <br>
			                   HIV:                [% genome.hiv %] <br>
			                   Date of isolation:  [% genome.date_of_isolation %] <br>
			                   Context:            [% genome.context %] <br>
			                   Country of origin:  [% genome.country_of_origin %] <br>
			                   Region:             [% genome.region %] <br>
			                   Latitude:           [% genome.latitude %] <br> 
			                   Longitude:          [% genome.longitude %] <br>   
			        		  "  
			        	class="gradeA">	    
					    
					    <td>[% genome.strain_id %]</td> 
					    <td>[% genome.location_country %]</td> 
					    <td>[% genome.body_source %]</td> 
					    <td>[% genome.sanger_id %]</td>
						<td  style="text-align:center"> <input type="checkbox" name="checkbox" value="artform[% genome.sanger_id %]"> </td> 				    
					</tr>
				[% ELSE %]
			        <tr title="
			        		
			        		   Analysis status:	   [% genome.analysis_status %] <br>
			        		   Sanger ID: 		   [% genome.sanger_id %] <br>
			        		   Strain ID: 		   [% genome.strain_id %] <br>
			        		   
			        		   Analysis comment:   [% genome.analysis_comment %] <br>
			        		   Top_serotype:       [% genome.top_serotype %] <br>
			        		   Mlst:			   [% genome.mlst %] <br>
			        		   Gender:             [% genome.gender %] <br>
			                   Body source:        [% genome.body_source %] <br>
			                   Menigitis isolate?: [% genome.meningitis_outbreak_isolate %] <br>
			                   HIV:                [% genome.hiv %] <br>
			                   Date of isolation:  [% genome.date_of_isolation %] <br>
			                   Context:            [% genome.context %] <br>
			                   Country of origin:  [% genome.country_of_origin %] <br>
			                   Region:             [% genome.region %] <br>  
			                   Latitude:           [% genome.latitude %] <br> 
			                   Longitude:          [% genome.longitude %] <br>   
			        		  "  
			        	class="gradeX">						

					    <td>[% genome.strain_id %]</td> 
					    <td>[% genome.location_country %]</td> 
					    <td>[% genome.body_source %]</td> 
					    <td>[% genome.sanger_id %]</td>
						<td></td> 				    
					</tr>					
				[% END %]
			[% END %]
			
			</tbody> 
		</table>
	
		
		<div id="msg_box"></div>
	
		<div><input type="submit" value="Launch Artemis" ></div>
	
	</form>

</div>

<h4>Note:</h4>
<p>
  To run Artemis in this way you will need to have <strong>Java Web Start</strong> installed. Java Web Start is included in the Java Runtime Environment (JRE).
  If you do not have this installed, it may be downloaded from the
  <a href="http://www.oracle.com/technetwork/java/javase/tech/index-jsp-136112.html">Java Web Start</a>
  website.
</p>