<h2>Data</h2>
  
<h3>Genome Viewer</h3>


<p>
Artemis is a free genome browser and annotation tool that allows visualisation of sequence features, next generation data and the results of analyses within the context of the sequence, and also its six-frame translation.
Artemis is written in Java, and is available for UNIX, Macintosh and Windows systems. It can read EMBL and GENBANK database entries or sequence in FASTA, indexed FASTA or raw format. Other sequence features can be in EMBL, GENBANK or GFF format.
 For more details on what Artemis can do for you, please refer to the Artemis manual here  <a href="/page/assets/artemis.pdf">PDF</a> 
</p>

<p><strong>Launch Artemis directly from your web browser</strong></p>
<p>We have prepared a set of Artemis instances which can be launched directly via your web browser.</p>

<p>Select a genome from the box below and then press "Launch Artemis" to start Artemis.</p>

<!-- appending "/artemis.JNLP" to the URL in order to control the default filename when downloading a file via CGI -->
<form action="/cgi-bin/process_art.pl/artemis.JNLP" name="artemisform" id="artemisform">
  <dl class="twocol">

    <dt>Genome:</dt>
    <dd>
	    <select name="genome1" id="artemis_1">
	    	<option value="">== select ==</option>
                
                   <option value="3850_1#1"> Genome 1 (3850_1#1)</option>
                
                   <option value="3850_1#10"> Genome 2 (3850_1#10)</option>
                
                   <option value="3850_1#7"> Genome 3 (3850_1#7)</option>
                
                   <option value="3850_2#10"> Genome 4 (3850_2#10)</option>
                
                   <option value="3850_2#7"> Genome 5 (3850_2#7)</option>
                
                   <option value="3850_2#9"> Genome 6 (3850_2#9)</option>
                
                   <option value="3850_6#12"> Genome 7 (3850_6#12)</option>
                
                   <option value="3850_6#2"> Genome 8 (3850_6#2)</option>
                
                   <option value="3850_6#5"> Genome 9 (3850_6#5)</option>
                
                   <option value="3850_7#1"> Genome 10 (3850_7#1)</option>
                
                   <option value="3850_7#4"> Genome 11 (3850_7#4)</option>
                
                   <option value="3850_7#5"> Genome 12 (3850_7#5)</option>
                
                   <option value="3850_8#7"> Genome 13 (3850_8#7)</option>
                
                   <option value="4350_6#3"> Genome 14 (4350_6#3)</option>
                
                   <option value="4350_6#9"> Genome 15 (4350_6#9)</option>
                
                   <option value="4353_1#1"> Genome 16 (4353_1#1)</option>
                
                   <option value="4353_1#10"> Genome 17 (4353_1#10)</option>
                
                   <option value="4353_1#6"> Genome 18 (4353_1#6)</option>
                
                   <option value="4353_2#4"> Genome 19 (4353_2#4)</option>
                
                   <option value="4353_2#9"> Genome 20 (4353_2#9)</option>
                
                   <option value="4370_1#12"> Genome 21 (4370_1#12)</option>
                
                   <option value="4525_7#1"> Genome 22 (4525_7#1)</option>
                
                   <option value="4525_7#10"> Genome 23 (4525_7#10)</option>
                
                   <option value="4525_7#11"> Genome 24 (4525_7#11)</option>
                
                   <option value="4525_7#12"> Genome 25 (4525_7#12)</option>
                
                   <option value="4525_7#2"> Genome 26 (4525_7#2)</option>
                
                   <option value="4525_7#3"> Genome 27 (4525_7#3)</option>
                
                   <option value="4525_7#5"> Genome 28 (4525_7#5)</option>
                
                   <option value="4525_7#6"> Genome 29 (4525_7#6)</option>
                
                   <option value="4525_7#7"> Genome 30 (4525_7#7)</option>
                
                   <option value="4525_7#8"> Genome 31 (4525_7#8)</option>
                
                   <option value="4525_7#9"> Genome 32 (4525_7#9)</option>
                
                   <option value="4525_8#1"> Genome 33 (4525_8#1)</option>
                
                   <option value="4525_8#10"> Genome 34 (4525_8#10)</option>
                
                   <option value="4525_8#11"> Genome 35 (4525_8#11)</option>
                
                   <option value="4525_8#12"> Genome 36 (4525_8#12)</option>
                
                   <option value="4525_8#2"> Genome 37 (4525_8#2)</option>
                
                   <option value="4525_8#3"> Genome 38 (4525_8#3)</option>
                
                   <option value="4525_8#4"> Genome 39 (4525_8#4)</option>
                
                   <option value="4525_8#6"> Genome 40 (4525_8#6)</option>
                
                   <option value="4525_8#7"> Genome 41 (4525_8#7)</option>
                
                   <option value="4525_8#8"> Genome 42 (4525_8#8)</option>
                
                   <option value="4525_8#9"> Genome 43 (4525_8#9)</option>
                
                   <option value="4564_1#10"> Genome 44 (4564_1#10)</option>
                
                   <option value="4564_1#3"> Genome 45 (4564_1#3)</option>
                
                   <option value="4564_1#4"> Genome 46 (4564_1#4)</option>
                
                   <option value="4564_1#5"> Genome 47 (4564_1#5)</option>
                
                   <option value="4564_1#8"> Genome 48 (4564_1#8)</option>
                
                   <option value="4564_1#9"> Genome 49 (4564_1#9)</option>
                
                   <option value="4564_2#11"> Genome 50 (4564_2#11)</option>
                
                   <option value="4564_2#5"> Genome 51 (4564_2#5)</option>
                
                   <option value="4564_2#8"> Genome 52 (4564_2#8)</option>
                
                   <option value="4564_2#9"> Genome 53 (4564_2#9)</option>
                
                   <option value="4752_1#10"> Genome 54 (4752_1#10)</option>
                
                   <option value="4752_1#12"> Genome 55 (4752_1#12)</option>
                
                   <option value="4752_1#2"> Genome 56 (4752_1#2)</option>
                
                   <option value="4752_1#4"> Genome 57 (4752_1#4)</option>
                
                   <option value="4752_1#6"> Genome 58 (4752_1#6)</option>
                
                   <option value="4752_1#8"> Genome 59 (4752_1#8)</option>
                
                   <option value="4752_1#9"> Genome 60 (4752_1#9)</option>
                
                   <option value="4880_1#1"> Genome 61 (4880_1#1)</option>
                
                   <option value="4880_1#10"> Genome 62 (4880_1#10)</option>
                
                   <option value="4880_1#4"> Genome 63 (4880_1#4)</option>
                
                   <option value="4880_1#5"> Genome 64 (4880_1#5)</option>
                
                   <option value="4880_1#7"> Genome 65 (4880_1#7)</option>
                
                   <option value="4880_1#8"> Genome 66 (4880_1#8)</option>
                
                   <option value="4880_1#9"> Genome 67 (4880_1#9)</option>
                
                   <option value="5390_2#1"> Genome 68 (5390_2#1)</option>
                
                   <option value="5390_2#3"> Genome 69 (5390_2#3)</option>
                
                   <option value="5390_2#9"> Genome 70 (5390_2#9)</option>
                
                   <option value="5390_3#2"> Genome 71 (5390_3#2)</option>
                
                   <option value="5390_5#2"> Genome 72 (5390_5#2)</option>
                
                   <option value="5390_5#6"> Genome 73 (5390_5#6)</option>
                
                   <option value="5390_6#5"> Genome 74 (5390_6#5)</option>
                
                   <option value="5390_6#6"> Genome 75 (5390_6#6)</option>
                
                   <option value="5390_6#7"> Genome 76 (5390_6#7)</option>
                
                   <option value="5390_7#1"> Genome 77 (5390_7#1)</option>
                
                   <option value="5390_7#3"> Genome 78 (5390_7#3)</option>
                
                   <option value="5390_7#7"> Genome 79 (5390_7#7)</option>
                
                   <option value="5390_7#8"> Genome 80 (5390_7#8)</option>
                
                   <option value="5390_8#3"> Genome 81 (5390_8#3)</option>
                
            </select>
    </dd>
    
 </dl>
  
  
  <div id="msg_box"></div>
  <div class="c"><input type="submit" value="Launch Artemis" ></div>
</form>
<h4>Note:</h4>
<p>
  To run Artemis in this way you will need to have <strong>Java Web Start</strong> installed. Java Web Start is included in the Java Runtime Environment (JRE).
  If you do not have this installed, it may be downloaded from the
  <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Web Start</a>
  website.
</p>
