[%- # Provide a title to the wrapper.tt2 -%]
[% META title = 'PAGe Download' -%]

<h2>Data</h2>
    
    <h3>Download Analysis</h3>
    
    <p>
    This section provides instructions for downloading the PAGe assembly/annotation data and a brief description of the analysis.  
    </p>
    
    <p><strong>Download instructions</strong><br> 
    Access the PAGe assembly and annotation data locally on your computer by following the download instructions outlined here 
    <a href="[% c.uri_for('/static/assets/download/download_instruction_sftp.pdf') %]">PDF</a>
    </p>
  
    <p><strong>The delivered files</strong><br> 
    Find a brief description of the delivered files and the analysis here 
    <a href="[% c.uri_for('/static/assets/download/deliverables.pdf') %]">PDF</a>
    </p>
  
    <p><strong>View your PAGe data locally</strong><br> 
    It is possible to use Wellcome Trust Sanger Institute's "Artemis Genome Browser" to view your genomes. 
    <br>
    Artemis is a free genome browser and annotation tool that allows visualisation of sequence features, next generation data and the results of analyses within the context of the sequence, and also its six-frame translation.
Artemis is written in Java, and is available for UNIX, Macintosh and Windows systems. It can read EMBL and GENBANK database entries or sequence in FASTA, indexed FASTA or raw format. Other sequence features can be in EMBL, GENBANK or GFF format.
   <br><br>
   Artemis needs a recent version of Java v1.5 or higher.

For installation instructions please see the Artemis manual here <a href="[% c.uri_for('/static/assets/download/artemis.pdf') %]">PDF</a>
</p>
