[%- # Provide a title to the wrapper.tt2 -%]
[% META title = 'PAGe Home' -%]

    <h2>PAGe</h2>
    <p>
The Pneumococcal African Genome project (PAGe) is a consortium funded by the Bill and Melinda Gates Foundation 
focused on genomic analysis of the pneumococcus across Africa. Its goals include:

  
        <ol style="margin-left: 1em;">
            <li>Capacity building in bioinformatics and molecular epidemiology</li>
            <li>Understanding the epidemiology of specific pneumococcal serotypes</li>
            <li>Identifying new opportunities for disease control with current vaccines </li>
            <li>Delivering knowledge to create the next generation of pneumococcal vaccines</li>
        </ol>
   
      <div class="image right">
      <img style="width:100px;height:71px" src="/static/page/gfx/fm_doctor_child.jpg" alt="[photo]"  >
      <p style="font-size: 0.6em; margin: 0 padding: 0; text-align: center; width: 100px;" >Wellcome Library, London </p>
    </div>
<p>
The project is lead by Dr Dean Everett at the Malawi-Liverpool-Wellcome Trust Clinical Research Programme (MLW) in Malawi and includes primary partners in Niger, The Gambia, South Africa, UK and USA.    </p>
    <h3>Research Overview</h3>
    <h4>PAGe 1</h4>
    <p>
As a first project, the Page Consortium has focused on Streptococcus pneumoniae serotype 1 because it is one of the
 major causes of life-threatening pneumococcal disease in sub-Saharan Africa and is an important vaccine target.
  It exhibits a strong association with invasive disease and may occur in outbreaks or epidemics. Understanding the 
  genetic traits that underpin this association and contribute towards its epidemic potential will help to refine vaccine 
  target discovery and guide the development process. This African based consortium will address the following specific questions:
        <ol style="list-style-type: upper-alpha; padding-left: 0; margin-left: 1em;">
            <li>Define the genomic diversity of serotype 1 strains and establish the relative contributions of sequence
            variation, gene content, and genome organization to this diversity
            </li>
            <li>Establish the relationship of this diversity to clinical presentation, epidemic potential, disease versus
            carriage, and establish whether epidemic, disease and carriage characteristics (such as pneumonia,
            bacteremia or meningitis) are associated with particular genes or lineages.
            </li>
            <li>Establish the extent of regional serotype 1 temporal and geographic variation.
            The data will be used to refine and improve the effectiveness of the pneumococcal conjugate vaccine
            (PCV) in the future. </li>
        </ol>

    

    <h3> Capacity Building</h3>
    <p>Four postgraduate students from consortium member countries have been funded to complete MSc bioinformatics training at the University of Manchester including project work at the Wellcome Trust Sanger Institute. </p>
    <table border="1">
      <tr>
        <td>
          <div class="img">
            <img src="/static/page/gfx/gates_logo.png" alt="[photo]">
          </div>
        </td>
        <td>
          <div class="img">
            <img src="/static/page/gfx/logo_liverpool.jpg" alt="[photo]">
          </div>
        </td>
        <td>
          <div class="img">
            <img src="/static/page/gfx/logo_wellcome.jpg" alt="[photo]">
          </div>
        </td>
      </tr>
    </table>
