[%- # Provide a title to the wrapper.tt2 -%]
[% META title = 'PAGe Metadata' -%]

<h2>Inspect metadata</h2>

<p>The currently available isolates are shown in the table below.</p>

<div id="myDiv">
	<table id="myTable" border="0" cellpadding="0" cellspacing="0" class="pretty">
		<thead>

			<tr> 
			    
			    <th>strain_id</th> 
			    <th>hospital</th> 
			    <th>region</th>
			    <th>city</th>
			    <th>sanger_lane_id</th> 
			</tr> 
		</thead>
		<tbody>	
		[% FOREACH genome IN c.stash.genomes %]
	        <tr>
			    
			    <td>[% genome.strain_id %]</td> 
			    <td>[% genome.hospital %]</td>
			    <td>[% genome.region %]</td> 
			    <td>[% genome.city %]</td> 
			    <td>[% genome.sanger_lane_id %]</td>  
			</tr>
		[% END %]
		</tbody> 
	</table>

		

</div>
