<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="X-site-domain" content="www.pagegenomes.org">

<title>[% template.title or 'PAGe' %]</title>

<link rel="Shortcut Icon"              href="[% c.uri_for('/static/page/gfx/page-ico.png') %]" type="image/png">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/pagesmith/css-reset.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/pagesmith/tables.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/pagesmith/two-col-lists.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/general.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/page-frame.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/width-960.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/side/width-960.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/side/nav-content.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/thumbnails.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/references.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/page/css/page.css') %]">
 <!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/pagesmith/ieall.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/side/ie.css') %]">
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/templates/side/ie-nav.css') %]">
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/core/css/pagesmith/ie.css') %]">
<![endif]-->
<style type="text/css">
/*<![CDATA[*/
    .img {
      text-align: center; float: right; border: 1px solid #ccc;
      background-color: #eee; padding: 5px; margin: 10px 0 10px 10px;
      font-size: 0.7em
  };

    /*]]>*/
</style>

</head>

<body>
  <div id="wrap">
    <div id="head">
      <a href="/"><img src="[% c.uri_for('/static/page/gfx/page-logo.png') %]" alt="Page Logo" ></a>

      [% IF c.user_exists %]
      	<div class="pageloginstatus"> <a href="[% c.uri_for('/logout') %]">[% c.session.active_user %] [Logout]</a>  </div>
      [% ELSE %]
      	[% IF template.title != 'PAGe Login' %]
	      	<div class="pageloginstatus"> <a href="[% c.uri_for('/login') %]">[Login]</a>  </div>
      	[% END %]
      [% END %]
      
      <div class="x">&nbsp;</div>
    </div>

    <div id="content">

[%# This is where TT will stick all of other template's 
contents, i.e. this whole template will serve a wrapper 
to other templates -%]        
[% content %]
    </div>


[%# Navigation menu section -%]        
    <div id="nav">
        <ul>
            
            
[%# c.uri_for('action name') will construct an 
absolute URI object based on the application root.
'c' is the catalyst context object, which calls the
template toolkit.
-%]

[% FOREACH menu IN c.config.navigation.primary %]
    [% IF menu.action == c.stash.active_action %]
        <li class="active"><a href="[% c.uri_for(menu.action) %]">[% menu.title %]</a></li>
    [% ELSE %]
         <li><a href="[% c.uri_for(menu.action) %]">[% menu.title %]</a></li>
    [% END %]
[% END %]

        </ul>
    </div>
  </div>
	[% IF c.stash.add_js_files %]
		[% FOREACH jsfile IN c.stash.add_js_files %]
			<script type="text/javascript" src="[% c.uri_for(jsfile) %]"></script>
		[% END %]
	[% END %]  
</body>

</html>
