/*
 * Colour dictionary:
 *
 * Table control elements:   #E6E6E6 #E6E6E6
 * Header cells:             #879CAE #879CAE
 * Body header cells:        #9FB0BE #9FB0BE
 * Body content cells:       #BCC8D2 #BCC8D2
 * Body content cells (alt): #C9D3DB #C9D3DB
 * Footer header:            #b0cc7f
 * Footer content:           #d7e1c5
 */


/*
 * Page setup styles
 */
#myDiv  {
	font: 80%/1.45em Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #111;
	background-color: #fff;
}

#myDiv td {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
}

#container {
	margin: 0 auto;
	width: 960px
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}
/*
 * DataTables framework
 */
div.dataTables_wrapper {
	background-color: #E6E6E6;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
}



table.pretty tbody tr:hover {
	background-color: #D2BCBC;
	}

table.pretty td,
table.pretty th {
	padding: 5px;
	border: 1px solid #fff;
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: #879CAE;
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #9FB0BE;
}
	
table.pretty tbody td {
	text-align: center;
	background: #BCC8D2;
}
		
table.pretty tbody tr.odd td { 
	background: #C9D3DB;
}


#myTable tr:hover{
    background-color: rgb(87, 160, 184);
}


#myTable td:hover{
	background-color: rgb(87, 160, 184);
}

/* Footer cells */	
table.pretty tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.pretty tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #D5D5D5;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #879CAE url('sort_asc.png') no-repeat right center;
}

table.pretty thead th.sorting_desc {
	background: #879CAE url('sort_desc.png') no-repeat right center;
}

table.pretty thead th.sorting {
	background: #879CAE url('sort_both.png') no-repeat right center;
}
