body { background: #ededed; font-family: verdana, tahoma, sans-serif }
#wrap { border-color: #777; color: #323232 }

/* make a linear gradient of green in header */
#head  { background: rgb(23, 102, 122); border:1px solid #467aa7; } /*for non css browsers */
#head  { background-image: linear-gradient(to left, rgb(23, 102, 122), white);  border:1px solid rgb(23, 102, 122); }
#head  { background-image: -webkit-linear-gradient(right, rgb(23, 102, 122), white); } /*for safari*/
#head  { background-image: -moz-linear-gradient(left, white, rgb(23, 102, 122)); } /* for firefox 3.6+ */

#foot  { background: rgb(23, 102, 122); }


h1 { background:rgb(23, 102, 122); padding-top: 0; margin: 0 }
h2,h3,h4 { background: #fff; clear: both }

.thumb h3 { clear: none }

#head         { color:#fff; margin-bottom: 0}
#head img     { float:left; margin: 10px 2em 9px 10px; width:260px;height:120px }
#head div     { float: left; margin: 0 }
#head h1      { margin-top: 0.5em; font-size:2.6em; font-weight: normal }
#head p       { font-size:1.2em; font-style:italic; padding-left: 3em; margin: 0 }
#head .x      { float: none }


#foot         { text-align: center; width: auto; clear:both; margin-top:1em; margin-bottom:0; padding:0.4em 0.6em;font-size:0.9em;color:#f0f0f0; }

#nav li { font-size: 0.8em }
#nav li a { border: 0; font-weight: normal; text-transform: uppercase; padding: 4px }
#nav li.active a, #nav li a:hover { border: 0; background-color: rgb(23, 102, 122); color: #fff }

#msg_box div { background-color: #fcc; padding: 1em; margin: 1em; font-weight:bold; color:#900}


.pageloginstatus {
	position: absolute;
	right:0;
	top:0;
	width:200px;
	text-align:right;
	
}

.pageloginstatus a {
	
}

.logintable table.td {
	text-align: center;
	align: center;
}

.pageloginlabel
{
text-align:left;
width: 30px;
*/
display: block;
width: 30px;
float: left;
/*text-align: right;*/

}

.pagelogin {   border: 1px solid #088DCC; }

.pagelogin:hover {
    border: 1px solid rgb(23, 102, 122);
    background: rgb(23, 102, 122);
}
